<!DOCTYPE html>
<html>
<head>
    <title>ExamGen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_light.css') }}" id="theme-stylesheet">
</head>
<body>
    <h1>ExamGen</h1>
    
    <button id="themeButton">Switch Theme</button>
    
    <form method="POST" enctype="multipart/form-data" id="mainForm">
        
        <h3>Settings</h3>
        <label for="questionsnumber">Number of Questions</label><br>
        <input type="number" id="questionsnumber" name="questionsnumber" required value="10"><br><br>
        <input type="hidden" id="menu" name="menu" value="index">
        <label for="langdropdown">Language:</label><br>
        <select id="langdropdown" name="langdropdown" required>
            <option value="English">English 🇬🇧</option>
            <option value="Korean">Korean 🇰🇷</option>
            <option value="German">German 🇩🇪</option>
        </select><br><br>

        <div>
            <a>Question types</a>
        </div>
        <input type="checkbox" id="qbool" name="options" value="qbool">
        <label for="qbool">True / False</label><br>

        <input type="checkbox" id="qmulti" name="options" value="qmulti">
        <label for="qmulti">Multiple Choice</label><br>

        <input type="checkbox" id="qwrite" name="options" value="qwrite">
        <label for="qwrite">Short answer</label><br>


        <label for="pdf_file">Upload PDF:</label><br>
        <input type="file" id="pdf_file" name="pdf_file" required><br><br>

        <input type="checkbox" id="outputtype" name="options" value="outputtype">
        <label for="outputtype">Answer in quiz</label><br>

        <button type="submit">Generate</button>
    </form>
    <div id="loadingdiv">Generating can take a while. Download will start when ready.</div>

    <div id="error">{{error}}</div>
</body>
<script>
    const themeButton = document.getElementById('themeButton');
    const themeStylesheet = document.getElementById('theme-stylesheet');
    let currentTheme = 0;

    themeButton.addEventListener('click', () => {

        switch(currentTheme)
        {
            case 0:
            currentTheme = 1;
            themeStylesheet.href = "{{ url_for('static', filename='style_light.css') }}";
            break;

            case 1:
            currentTheme = 2;
            themeStylesheet.href = "{{ url_for('static', filename='style_dark.css') }}";
            break;
            
            case 2:
            currentTheme = 0;
            themeStylesheet.href = "{{ url_for('static', filename='style_modern.css') }}";
            break;
            

        }
    });
</script>
</html>